body {
    background-color:papayawhip;
}

nav {
    display: flex
}
/* target "id" with "#". Target "class" with "." */
#primary {
    margin: 0 auto;
}

h1 {
    font-size: 3em;
}

a {
    background-color: lightblue;
    /* color refers to the text color */
    color: brown;
    text-decoration: none;
    padding: 10px;
    margin: 5px;

}

a.hover {
    background-color: darkgrey;
    color: white;
}

img {
    width: 90%;
    display: block;
    width: 0 auto;
}

.background {
    background-color: rgb(176, 129, 129);
}