
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@400;700&family=Signika&display=swap');

body {
    background-color:papayawhip;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    background-color: Brown
}
/* target "id" with "#". Target "class" with "." */
#primary {
    margin: 0 auto;
}

.home {
    display: grid;
}

a {
    /* color refers to the text color */
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px auto;
}

a.hover {
    background-color: darkgrey;
    color: black;
}

h1 {
    display: block;
    font-size: 3em;
    margin: 20px;
    text-align: center;
}

.body {
    align-content: center;
}

img {
    max-width: 500px;
    width: 50%;
    box-sizing: border-box;
    margin: 5px auto;
    width: 0 auto;
    display: block;
}

p {
    max-width: 700px;
    width: 70%;
    box-sizing: border-box;
    margin: 20px;
}

.background {
    background-color: rgb(176, 129, 129);
}