body {
    margin: 0;
}

header {
    margin-bottom: -5px;
}

header img {
    width: 100%;
}

main {
    text-align: center;
    background-color: rgb(115,115,115);
}

.icon {
    /* display: block; */
    width: 200px;
    border-radius: 50%;
    border: 10px solid rgb(68,68,68);
    margin: 35px;
}