@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Titillium+Web&display=swap');

/* Color and font variables */

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #195F76;
    --secondary-color: #abdced;
    --accent1-color: #f8b4bd;
    --accent2-color: #EBEBEB;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Chakra Petch', sans-serif;
    --paragraph-font: 'Titillium Web', sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #195F76;  /* headlines on a white background */ 
    --headline-color-on-color: #EBEBEB; /* headlines on a colored background */ 
    --paragraph-color-on-white: #195F76; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #EBEBEB; /* paragraph text on a colored background */ 
    --paragraph-background-color: #195F76  ;
    --nav-link-color: #195F76;
    --nav-background-color: #abdced;
    --nav-hover-link-color: #EBEBEB;
}

body {
    background-color: var(--accent2-color);
    font-family: var(--paragraph-font);
    font-size: 22px;
    padding: 5px 15px;
    max-width: 1300px;
    margin: auto;
}

main {
    max-width: 1100px;
    width: 85%;
    margin: 0 auto;
}

h2 {
    background-color: var(--accent1-color);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

p {
    font-size: .8em;
}

nav {
    display: grid;
    grid-template-columns: 110px repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: auto; 
    margin-bottom: 50px;
    background-color: var(--nav-background-color);
    color: var(--headline-color-on-white);
    border-radius: 10px;
    font-weight: bold;
}

nav a {
    text-align: center;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 1.2em;
}

.logo {
    display: block;
    margin: auto;
    padding: 5px;
    border-radius: 25px;
    width: 70%;
}

.page_link {
    display: block;
    align-self: center;
}

.page_link:hover {
    color: black;
    transition: .5s;
    transform: scale(1.1);
}

#banner_img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
}

#parts {
    display: grid;
    grid-template: 110px auto / 70% 30%;
}

#parts h2 {
    grid-column: span 2;
}

#parts p, #parts img{
    grid-row: 2/3;
}

#parts img {
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
}

footer {
    background-color: var(--nav-background-color);
    color: var(--headline-color-on-white);
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

footer h2 {
    font-size: 1.2em;
}

footer h3 {
    padding-left: 10px;
}

footer a {
    text-decoration: none;
}

footer a:hover{
    color: black;
    transition: .5s;
    transform: scale(1.1);
}

.icon {
    display: block;
    border-radius: 10px;
    margin: 5px;
}

#social_images {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding-top: 5px;
    padding-bottom: 5px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}


/* Part Selection Specific Design */

#details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 110px 1fr;
}

#details p {
    grid-row: 1/4
}

#amd {
    grid-column-start: 2;
    grid-row: 1/2;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
}

#vs {
    grid-column-start: 2;
    grid-row: 2/3;
    margin: auto;
}

#intel {
    grid-column-start: 2;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
}

#prices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 110px 1fr;
    grid-gap: 0 20px;
}

#gaming {
    grid-column: 1/2;
    grid-row: 1;
}

#gaming_li {
    grid-row-start: 2;
    grid-column: 1;
}

#video {
    grid-column: 2/3;
}

#video_li {
    grid-row-start: 2;
    grid-column-start: 2;
}

#work {
    grid-column: 3/4;
}

#work_li {
    grid-row-start: 2;
    grid-column-start: 3;
}

li {
    font-size: .9em;
}

#shopping {
    background-color: var(--accent1-color);
    padding-left: 10px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    max-width: 600px;
    white-space: nowrap;
}

.badge:hover {
    transition: .5s;
    transform: scale(1.1);
}

/* Instructions Page Styling */

#instruction_info {
    display: grid;
    grid-template-columns: 50% 50%;
}

#instruction_info img {
    display: block;
    max-width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
}

#linus {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

#linus h2 {
    grid-column: 1/3;
}

#linus img {
    display: block;
    max-width: 150px;
    grid-column: 2/3;
}

#linus iframe {
    grid-column: 1/2;
    display: block;
    max-width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
}

#jayz {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

#jayz h2 {
    grid-column: 1/3;
}

#jayz img {
    display: block;
    max-width: 200px;
}

#jayz iframe {
    width: 90%;
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
}